<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-end">
      <ion-col size="12">
        <ng-container>
          <ion-text color="primary">
            <h1>Your personal banking always in touch</h1>
          </ion-text>
          <ion-button expand="block" routerLink="/account">
            <span>Get Starting</span>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
